<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      {% load static %}
      <link rel = "stylesheet" type= "text/css" href="{% static 'style.css'%}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600&display=swap" rel="stylesheet">
      <title>Home</title>
    </head>
    
    <body>
      <div class="body-index">
        <header style = " font-family: 'Sarabun', sans-serif;">
          <div class="container">
            <div class="header-left">
              <img class="logo" src="https://www.freepnglogos.com/uploads/discord-logo-png/discord-logo-logodownload-download-logotipos-1.png">
            </div>
            <div class="header-right">
              <a href="/lab-4"><b>Home</b></a>
              <a href="/lab-4/add"><b>Add Note</b></a>
              <a href="/lab-4/note-list"><b>Note List</b></a>
            </div>
          </div>
        </header>  
        
        <div class= "body-container">
          <div class= "table-container">
            <table>
              <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
              </tr>
              <!-- TODO loop from Friend model -->
              <!-- EXAMPLE SECTION -->
              {%for note in notes%}
              <tr>
                <td>{{note.dari}}</td>
                <td>{{note.untuk}}</td>
                <td>{{note.title}}</td>
                <td>{{note.message}}</td>
              </tr>
              {%endfor%}
              <!-- END SECTION -->
            </table>
          </div> 
        </div>
      </div>
  </body>
</html>

