<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel = "stylesheet" type= "text/css" href="{% static 'style.css'%}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">
  
  <title>Add Notes</title>
</head>
<body>
  <div class = body-form>
    <header style = " font-family: 'Sarabun', sans-serif;">
      <div class="container">
        <div class="header-left">
          <img class="logo" src="https://www.freepnglogos.com/uploads/discord-logo-png/discord-logo-logodownload-download-logotipos-1.png">
        </div>
        <div class="header-right">
          <a href="/lab-4"><b>Home</b></a>
          <a href="/lab-4/add"><b>Add Note</b></a>
          <a href="/lab-4/note-list"><b>Note List</b></a>
        </div>
      </div>
    </header>  
    
    <div class ="body-container">
      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%;">
        <form  action="" method="POST">
          <!-- harus ada kalau gk error -->
          {% csrf_token %} 
          {{ form }}
          <p>To:</p>
          <input type = "text" name = "dari" style="width:220px"> 
          <p>From:</p>
          <input type ="text" name = "untuk"  style="width:220px">
          <p>Title:</p>
          <input type="text" name= "title" style= "width:220px">
          <p>Message:</p>
          <input type ="text" name = "message"  style="width:220px">
    
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
  </body>
</html>
