<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <link rel = "stylesheet" type= "text/css" href="{% static 'style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">
    <title>Notes List</title>
  </head>
  
  <body>
    <div class="body-card">
      <header style = " font-family: 'Sarabun', sans-serif;">
            <div class="container">
              <div class="header-left">
                <img class="logo" src="https://www.freepnglogos.com/uploads/discord-logo-png/discord-logo-logodownload-download-logotipos-1.png">
              </div>
              <div class="header-right">
                <a href="/lab-4"><b>Home</b></a>
                <a href="/lab-4/add"><b>Add Note</b></a>
                <a href="/lab-4/note-list"><b>Note List</b></a>
              </div>
            </div>
          </header>  
          <div class="body-container">
              {%for note in notes%}
              <div class="card">
                  <div class="container-card">
                      <h2> <b>{{note.title}}</b></h2>
                      <p1>From : {{note.untuk}} </p1>
                      <br>
                      <p2>To : {{note.dari}} </p2>
                      <br>
                      <p3> <b>{{note.message}} </b></p3>
                  </div>
              </div>
              {%endfor%}
          </div>
    </div>
  </body>
</html>

