<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    p{
      margin: 0;
      font-size: 20px;
      color: #fff;
      line-height: 83px;
      text-align: center;
    }
    

  </style>
</head>
<body style="height:100vh; background-image: url('https://www.teahub.io/photos/full/118-1186441_download-wallpaper-engine-wallpapers-free-flag-of-communist.jpg'); background-size:cover">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%;">
      <form  action="" method="POST">
        <!-- harus ada kalau gk error -->
        {% csrf_token %} 
        {{ form }}
        <p>Nama:</p>
        <input type = "text" name = "name" style="width:200px"> 
        <p>NPM:</p>
        <input type ="text" name = "npm"  style="width:200px">
        <p>DOB:</p>
        <input type="date" name= "DOB" >
  
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
