<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>

  </head>
  <style>
    table,th,td{
      border:3px solid black;
      background-color: white;
      width:700px;
      padding:10px;
    }
    table{
      border-collapse: collapse;
    }
  </style>
  
  <body style="height:100vh; background-image: url('https://www.teahub.io/photos/full/118-1186441_download-wallpaper-engine-wallpapers-free-flag-of-communist.jpg'); background-size:cover">
    <div style="display:flex; flex-direction: column; align-items:center">
      <table>
        <tr>
          <th>Name</th>
          <th>NPM</th>
          <th>DOB</th>
        </tr>
        <!-- TODO loop from Friend model -->
        <!-- EXAMPLE SECTION -->
        {%for i in friends%}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.npm}}</td>
          <td>{{i.DOB}}</td>
        </tr>
        {%endfor%}
        <!-- END SECTION -->
      </table>
    </div>
  </body>
</html>

