<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for note in notes%}
      <tr>
        <td>{{note.dari}}</td>
        <td>{{note.untuk}}</td>
        <td>{{note.title}}</td>
        <td>{{note.message}}</td>
      </tr>
      {%endfor%}
      <!-- END SECTION -->
    </table>
  </body>
</html>